.home {
    width: 100%;
    margin: auto;
    text-align: center;
    color: white;
  }
  
  .info {
    color: white;
    padding: 20px; 
    margin-bottom: 20px; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    letter-spacing: 3px;
  }
  
  .info .logo {
    flex: 1; 
  }
  
  .info .logo img {
    max-width: 300px; 
    border-radius: 50%;
  }

  .mark {
    background-color: #333; /* Dark background */
    height: 80px; /* Fixed height */
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-bottom: 15px; /* Space below the div */
  }
  
  .mark h3 {
    color: white; /* Ensure text is visible on dark background */
    margin: 0; /* Remove default margin */
    letter-spacing: 5px;
  }
  

  .partenrs{
    display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-content: center; /* Center the content */
  margin: auto;
  margin-bottom: 30px;
  width: 75%;
  margin: auto;
  }

  .partner-item {
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    filter: grayscale(100);
    max-width: 150px;

  }
  
  .partner-item img {
    width: 100%;
    height: auto;
    display: block;
  }
  .partner-item:hover{
       filter: grayscale(0);
  }
  
  .info .text {
    flex: 2; /* Allow text section to grow more */
    font-size: 28px; /* Adjust the font size for the text */
    margin-left: 20px; /* Space between logo and text */
  }
  
  @media (max-width: 768px) {
    .info .text {
      font-size: 16px; /* Adjust font size for smaller screens */
    }
  }
  