.menu {
  padding: 10px 0;
  background-color: var(--menu-background);
}

.menu-container {
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.menu-icon {
  font-size: 24px;
  color: var(--secondery-text-color);
  cursor: pointer;
  display: none;
}

.menu-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.menu-list li {
  margin: 0 15px;
}

.menu-list a {
  color: var(--secondery-text-color);
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 15px;
 
  display: block;
  transition: background-color 0.6s ease, color 0.6s ease;
}

.menu-list a:hover {
  background-color: var(--menu-button-hover-background);
  color: var(--menu-button-hover-color);
}

.close-icon {
  display: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-icon {
    display: block;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--menu-overlay);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 999;
  }

  .overlay.open {
    opacity: 1;
    visibility: visible;
  }

  .menu-list {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 80%;
    background-color: var(--popup-menu-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: left 0.3s ease;
    z-index: 1000;
  }

  .menu-list.open {
    left: 0;
  }

  .menu-list li {
    margin: 20px 0;
  }

  .menu-list a {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    font-size: 18px;
  }

  .menu-list a:hover {
    background-color: transparent;
    color: var(--menu-button-hover-color-popup);
  }

  .close-icon {
    display: block;
    font-size: 24px;
    color: var(--secondery-text-color);
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
