.slideshow {
  width: 80%;
  margin: auto;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-dots li button:before {
  color: white; 
}

.slick-dots li.slick-active button:before {
  color: black; 
}

.slide {
  position: relative;
}

.slide img {
  width: 100%;
  height: 600px;
  display: block;
  transition: filter 0.9s ease; 
  filter: grayscale(0%);
}

.slide:hover img {
  filter: grayscale(10  0%); 
}

.go-to-gallery {
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color: #BAFF39;
  color: black;
  border: none;
  cursor: pointer;
  display: none;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: background-color 0.9s ease, color 0.9s ease;
}

.slide:hover .go-to-gallery {
  display: block;
}

.slide:hover .go-to-gallery:hover {
  background-color: white; 
  color: black; 
}


@media (max-width: 768px) {
  .slideshow {
    width: 100%;
  }

  .slide img {
    height: auto;
  }

  .go-to-gallery {
    font-size: 14px;
    padding: 8px 16px;
  }

  .slide:hover .go-to-gallery {
    display: block;
  }
}
